body
{
    padding-top: 60px;
}
.table > tbody > tr > td
{
    vertical-align: middle;
}
.loggedIn
{
    /* Start not logged in by default */
    display: none;
}
.logoutOut
{
}
.reminderEdit
{
    display: none;
}
img.userPicture
{
    width: 50px;
    height: 50px;
    
}
div.userPicture
{
    width: 52px;
    height: 52px;
    border: 1px solid gray;
    display: inline-block;
}
.popover
{
    max-width: 100%;
}